In [1]:
import pandas as pd

Load the sample data.

In [2]:
df = pd.read_csv('example.csv', decimal='.', thousands=',', index_col=0)

Select all units that cost more than 20.

In [3]:
criteria = df['unit_price'] > 20
df[criteria]

               name  revenue  unit_price
id
WBX  World of Beans  9000000       49.99
ML          My Life   528000       39.99
TF       The Flight  1835000       25.99
CW         Cold War  3028000       49.99

Combine criteria.

In [4]:
criteria2 = df['name'].str.contains('W', regex=False)
df[criteria & criteria2]

               name  revenue  unit_price
id
WBX  World of Beans  9000000       49.99
CW         Cold War  3028000       49.99

It's easily possible to include analysis on boolean selections.

In [5]:
df[df['revenue'] > 1000000].mean()

revenue       6465750.00
unit_price         35.99
dtype: float64

Let's ask a complex question: *What is the maximum revenue generated for a unit more expensive than 40?*

In [7]:
c = (df['unit_price'] > 40)
df[c]['revenue'].max()

9000000