In [1]:
import pandas as pd
import numpy as np

Load the sample data

In [2]:
df = pd.read_csv('example.csv', decimal='.', thousands=',', index_col=0)

Since pandas is fully built on numpy we can use its functions to mutate our data or for analysis:

In [4]:
df.apply(np.max)

name          World of Beans
revenue             12000000
unit_price             49.99
dtype: object

Sometimes data needs to be adjusted and replaced. Ensure you have the whole mapping in place, otherwise you will end up with invalid data:

In [10]:
d = {'My Life' : 'My Life (Legacy)'} 
df['name'] = df['name'].map(d)
df

     name   revenue  unit_price
id
WBX   NaN   9000000         NaN
PP1   NaN    873000         NaN
AOGD  NaN  12000000         NaN
ML    NaN    528000         NaN
TF    NaN   1835000         NaN
CW    NaN   3028000         NaN